@page "/account-login"

<h3>
	<br><b></b>
</h3>

<!doctype html>
<html lang='en' dir='ltr'>
<symbol id="svg_password-hide"><g id="password-hide" fill-rule="evenodd">
    <g id="Group">
      <path class="Eye" fill="#9B9B9B" fill-rule="nonzero" d="M12,6 C8.28502589,6 4.92827085,8.1429293 3.11815462,11.5281078 L2.86604418,11.9995907 L3.11810823,12.4710984 C4.92811905,15.8568809 8.28483288,18 12,18 C15.7151671,18 19.0718809,15.8568809 20.8818918,12.4710984 L21.1339558,11.9995907 L20.8818454,11.5281078 C19.0717292,8.1429293 15.7149741,6 12,6 Z M12,7 C15.4188648,7 18.4026133,9.01230291 20,11.9996465 C18.4026133,14.9876971 15.4188648,17 12,17 C8.58113516,17 5.59738669,14.9876971 4,11.9996465 C5.59738669,9.01230291 8.58113516,7 12,7 Z"></path>
      <path class="Iris---Outside" fill="#9B9B9B" d="M15,12 C15,13.6570119 13.6570119,15 12,15 C10.3429881,15 9,13.6570119 9,12 C9,10.3429881 10.3429881,9 12,9 C13.6570119,9 15,10.3429881 15,12"></path>
      <path class="Iris---Inside" fill="#FFFFFF" d="M14,12 C14,13.1044038 13.105172,14 11.9995051,14 C10.894828,14 10,13.1044038 10,12 C10,10.8965858 10.894828,10 11.9995051,10 C13.105172,10 14,10.8965858 14,12"></path>
    </g>
    <g id="Hide">
      <use stroke="#FFFFFF" stroke-width="2" xlink:href="#path-1"></use>
      <use stroke="#9B9B9B" xlink:href="#path-1"></use>
    </g>
  </g>
</symbol>
<symbol id="svg_password-show"><g id="password-show" fill-rule="evenodd">
    <path class="Eye" fill="#9B9B9B" fill-rule="nonzero" d="M12,6 C8.28502589,6 4.92827085,8.1429293 3.11815462,11.5281078 L2.86604418,11.9995907 L3.11810823,12.4710984 C4.92811905,15.8568809 8.28483288,18 12,18 C15.7151671,18 19.0718809,15.8568809 20.8818918,12.4710984 L21.1339558,11.9995907 L20.8818454,11.5281078 C19.0717292,8.1429293 15.7149741,6 12,6 Z M12,7 C15.4188648,7 18.4026133,9.01230291 20,11.9996465 C18.4026133,14.9876971 15.4188648,17 12,17 C8.58113516,17 5.59738669,14.9876971 4,11.9996465 C5.59738669,9.01230291 8.58113516,7 12,7 Z"></path>
    <path class="Iris---Outside" fill="#9B9B9B" d="M15,12 C15,13.6570119 13.6570119,15 12,15 C10.3429881,15 9,13.6570119 9,12 C9,10.3429881 10.3429881,9 12,9 C13.6570119,9 15,10.3429881 15,12"></path>
    <path class="Iris---Inside" fill="#FFFFFF" d="M14,12 C14,13.1044038 13.105172,14 11.9995051,14 C10.894828,14 10,13.1044038 10,12 C10,10.8965858 10.894828,10 11.9995051,10 C13.105172,10 14,10.8965858 14,12"></path>
  </g>
</symbol>
<head>
    <link rel="stylesheet" href="accountLogin.css" />
	<script>
		try {
			const _console_log = console.log;
			console.disableLogging = () => console.log = () => { };
			console.enableLogging = () => console.log = _console_log;
			console.disableLogging();
		} catch (e) { }
	</script>
	<meta charset='utf-8'>
	<meta http-equiv='content-language' content='en'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
	<meta name='viewport' content='initial-scale=1.0, width=device-width'>
	<meta http-equiv='imagetoolbar' content='no'>
	<meta http-equiv='Window-target' content='_top'>
	<meta name='Revisit-After' content='30 Days'>
	<meta name='robots' content='index, follow'>
	<title>My Simple AI | Log in to your AI Account</title>
	<meta name='Description'
		content='Manage your Simple AI account with easiness from your Dashboard. Check rates, recharge online &amp; check your balance.'>
	<meta name='Keywords'
		content='tello my account, tello dashboard, tello history, tello order, tello call history, tello account, tello login, my tello, my tello dashboard, my tello app, my tello account, tello payment details, tello invoice, tello order status, tello wireless login, tello mobile login, tello login page, tello sign in page, tello signin, tello log in, tello mobile log in, tello account log in, tello us login'>
	<meta name='Author' content='Simple AI'>
	<meta name='Copyright' content='© 2024 Miron Enterprises. All rights reserved.'>
	<meta name='google-site-verification' content='BeLTPongN2RXZ9kYKoqHkMLRvKJTnYoyQFK6PivAYXk'>
	<meta name='msvalidate.01' content='8E9974EB0D2D984D7AB5EE0C3DA40815'>
	<meta name='ahrefs-site-verification' content='5296e7b15388df3cb99648e9de4a97deaf8185bee7a422b0ca874ecb0931bc17'>
	<meta property='og:title' content='Simple AI Mobile | The mobile carrier you deserve | No fees, whatsoever'>
	<meta property='og:type' content='website'>
	<meta property='og:url' content='https://tello.com/'>
	<meta property='og:site_name' content='SimpleRule.co'>
	<meta property='fb:app_id' content='1093407634083284'>
	<meta property='og:description'
		content='Build your own plan with minutes, texts and data starting at only $5/month. No contract, no hidden fees! You can also buy a new phone from Tello or bring your own mobile. It&#039;s all up to you.'>
	<meta property='og:image' content='https://tello.com/images/fb_share.jpg'>
	<link rel='manifest' href='/manifest.json'>
	<link rel="icon" href='/images/favicons/favicon.ico' sizes="32x32">
	<link rel="icon" href='/images/favicons/favicon.svg' type="image/svg+xml">
	<link rel="apple-touch-icon" href='/images/favicons/apple-touch-icon.png'>

	<meta name='apple-mobile-web-app-title' content='Tello'>
	<meta name='msapplication-TileColor' content='#0C84D9'>
	<meta name='msapplication-TileImage' content='/images/favicons/mstile-144x144.png'>
	<meta name='msapplication-config' content='/images/favicons/browserconfig.xml'>
	<meta name='application-name' content='Tello'>
	<meta name='theme-color' content='#0C84D9'>
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:wght@500;700&display=swap"
		rel="stylesheet">
	<link rel='preconnect' href='https://cdn.jsdelivr.net'>
	<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css'
		integrity='sha256-bZLfwXAP04zRMK2BjiO8iu9pf4FbLqX6zitd+tIvLhE=' crossorigin='anonymous'
		onerror="this.onerror=null;this.href='/css/vendor/bootstrap/css/bootstrap-3.4.1.min.css?__lm__=1733225820';this.removeAttribute('integrity');this.removeAttribute('crossorigin');">

	<script src='//cdn.jsdelivr.net/npm/jquery-migrate@3.4.1/dist/jquery-migrate.js'
		integrity='sha256-CfQXwuZDtzbBnpa5nhZmga8QAumxkrhOToWweU52T38=' crossorigin='anonymous'></script>
	<script>typeof window.jQuery.migrateWarnings !== 'undefined' || document.write('<script src="/js/vendor/jquery-migrate/jquery-migrate-3.4.1.min.js?__lm__=1733225823"><\/script>')</script>

	<script src='//cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js'
		integrity='sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=' crossorigin='anonymous'></script>
	<script>$.fn.modal || document.write('<script src="/js/vendor/bootstrap/bootstrap-3.4.1.min.js?__lm__=1733225823"><\/script>')</script>

	<script src='//cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js'
		integrity='sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=' crossorigin='anonymous'></script>
	<script>$().validate || document.write('<script src="/js/vendor/jquery-validation/jquery.validate-1.19.1.min.js?__lm__=1733225823"><\/script>')</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"
		crossorigin='anonymous'></script>
	<script>typeof validate === 'function' || document.write('<script src="/js/vendor/validate/validate.min.js?__lm__=1733225823"><\/script>')</script>

	<link rel='stylesheet' href='/css/tello/header_navbar.css?__lm__=1733225820' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/tello/common.css?__lm__=1733225820' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/tello/mvno.css?__lm__=1733225820' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/tello/svg_custom.css?__lm__=1733225820' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/tello/help_center_widget.css?__lm__=1733225820' type='text/css' media='all'>
	<script>
		window.console.log = function () { };
		window.console.warn = function () { };
		window.console.error = function () { };
		var _url_site_name = "tello.com";
		var _url_root_url = decodeURI("");
		var _url_is_ssl = true;
		var _url_http_host = "tello.com";
		var _production = true;
		var _page_name = "account\/login";
		var social_login_register = null;
		var messages = {};
		var page_ajax = {};
		var page_timers = {};
		var _minimal_menu_enabled = true;
	</script>
	<script src='/js/bootstrap3-typeahead.js?__lm__=1733225823'></script>
	<script src='/js/tello/main_menu.js?__lm__=1733225823'></script>
	<script src='/js/tello/common.js?__lm__=1733225823'></script>
	<script src='/js/tello/svg_common.js?__lm__=1733225823'></script>
	<script src='/js/notifications.js?__lm__=1733225823'></script>
</head>

<body class='account_login'>
	<noscript>
		<div class='noscript_message'>
			In order to view all our website features you need to <a href="http://www.enable-javascript.com/en"
				target="_blank" rel="noreferrer noopener">enable Javascript.</a> <img
				src='/images/js_disabled_tracking.gif?cid=bf15b139291f6087e216986851288131' alt='' width='1' height='1'>
		</div>
	</noscript>
	<svg width="0" height="0" style="position:absolute;">
		<symbol id="svg_Social-Login-apple">
			<g id="Social-Login-apple" class="appleColor">
				<path
					d="M10.79,4.11c-1.16,0-2.08.69-2.69.69s-1.47-.65-2.47-.65c-1.89,0-3.82,1.56-3.82,4.47a9.13,9.13,0,0,0,1.59,5c.76,1.05,1.42,1.92,2.37,1.92s1.36-.63,2.53-.63,1.45.61,2.49.61,1.71-.94,2.36-1.86a7.86,7.86,0,0,0,1-2.13,3.32,3.32,0,0,1-2-3A3.37,3.37,0,0,1,13.8,5.61,3.59,3.59,0,0,0,10.79,4.11Zm-.55-1.23a3.38,3.38,0,0,0,.81-2.1,1.45,1.45,0,0,0,0-.3A3.39,3.39,0,0,0,8.78,1.62a3.33,3.33,0,0,0-.83,2,1.35,1.35,0,0,0,0,.27l.2,0A3,3,0,0,0,10.24,2.88Z" />
			</g>
		</symbol>
		<symbol id="svg_Social-Login-facebook">
			<g id="Social-Login-facebook">
				<path
					d="M16,8.05a8,8,0,1,0-9.25,8V10.38h-2V8.05h2V6.27a2.83,2.83,0,0,1,3-3.13,11.92,11.92,0,0,1,1.79.16v2h-1a1.16,1.16,0,0,0-1.3,1.26V8.05h2.22l-.36,2.33H9.25V16A8,8,0,0,0,16,8.05Z" />
			</g>
		</symbol>
		<symbol id="svg_Social-Login-google">
			<g id="Social-Login-google" class="mainColor">
				<path id="Shape" class="google-cls-1"
					d="M15.68,8.18a8.59,8.59,0,0,0-.15-1.63H8V9.64h4.31a3.67,3.67,0,0,1-1.6,2.41v2h2.58a7.77,7.77,0,0,0,2.39-5.88Z"
					transform="translate(0)" />
				<path class="google-cls-2"
					d="M8,16a7.63,7.63,0,0,0,5.29-1.94l-2.58-2A4.82,4.82,0,0,1,3.52,9.52H.85v2.07A8,8,0,0,0,8,16Z"
					transform="translate(0)" />
				<path class="google-cls-3" d="M3.52,9.52a4.75,4.75,0,0,1,0-3V4.41H.85a8,8,0,0,0,0,7.18L3.52,9.52Z"
					transform="translate(0)" />
				<path class="google-cls-4"
					d="M8,3.18a4.35,4.35,0,0,1,3.06,1.2l2.29-2.3A7.67,7.67,0,0,0,8,0,8,8,0,0,0,.85,4.41L3.52,6.48A4.78,4.78,0,0,1,8,3.18Z"
					transform="translate(0)" />
				<path class="google-cls-5" d="M0,0H16V16H0Z" transform="translate(0)" />
			</g>
		</symbol>
		<symbol id="svg_tello-myinformation">
			<g id="tello-myinformation">
				<title>Icons-MyTello</title>
				<path d="M12,4a5,5,0,1,0,5,5A5,5,0,0,0,12,4Zm0,9a4,4,0,1,1,4-4A4,4,0,0,1,12,13Z" />
				<path
					d="M19,0H5A5,5,0,0,0,0,5V19a5,5,0,0,0,5,5H19a5,5,0,0,0,5-5V5A5,5,0,0,0,19,0ZM5,22A7,7,0,0,1,8.3,16.1a8,8,0,0,0,7.4,0A7,7,0,0,1,19,22a6.8,6.8,0,0,1-.08,1H5.12A6.8,6.8,0,0,1,5,22Zm18-3a4,4,0,0,1-3.09,3.89A7.64,7.64,0,0,0,20,22a8,8,0,0,0-4.27-7.06,7,7,0,0,1-7.4,0A8,8,0,0,0,4,22a7.64,7.64,0,0,0,.06.89A4,4,0,0,1,1,19V5A4,4,0,0,1,5,1H19a4,4,0,0,1,4,4Z" />
			</g>
		</symbol>
		<symbol id="svg_tello-apps">
			<g id="tello-apps">
				<title>Icons-MyTello</title>
				<path
					d="M19,1a4,4,0,0,1,4,4V19a4,4,0,0,1-4,4H18c-1.9,0-2.42-.92-3.31-2.85s-2-4.26-5.45-5.12L6.5,14.35,8.2,16.6c1.24,1.64,1.62,3.55,1,4.85A3.24,3.24,0,0,1,6,23H5a4,4,0,0,1-4-4V5A4,4,0,0,1,5,1H19m0-1H5A5,5,0,0,0,0,5V19a5,5,0,0,0,5,5H6c4.88,0,5.6-4.55,3-8,6,1.5,3.73,8,9,8h1a5,5,0,0,0,5-5V5a5,5,0,0,0-5-5Zm.7,24h0Z" />
			</g>
		</symbol>
		<symbol id="svg_tello-order-history">
			<g id="tello-order-history">
				<defs>
					<style>
						.cls-1 {
							fill-rule: evenodd;
						}
					</style>
				</defs>
				<title>Icons-MyTello</title>
				<path class="cls-1"
					d="M19,0H5A5,5,0,0,0,0,5V19a5,5,0,0,0,5,5H19a5,5,0,0,0,5-5V5A5,5,0,0,0,19,0Zm4,19a4,4,0,0,1-4,4H5a4,4,0,0,1-4-4V5A4,4,0,0,1,5,1H19a4,4,0,0,1,4,4Z" />
				<rect x="4" y="6" width="16" height="1" />
				<rect x="4" y="10" width="9" height="1" />
				<rect x="16" y="10" width="4" height="1" />
				<rect x="4" y="14" width="9" height="1" />
				<rect x="16" y="14" width="4" height="1" />
				<rect x="4" y="18" width="9" height="1" />
				<rect x="16" y="18" width="4" height="1" />
			</g>
		</symbol>
		<defs>
			
		</defs>
		
		
		<symbol id="svg_AppleStore">
			
		</symbol>
		<symbol id="svg_GooglePlay">
			<g id="GooglePlay">
				<use xlink:href="#stroke" />
				<use xlink:href="#holder" />
			</g>
		</symbol>
	</svg>

	<div style="display: none;"><svg width="0" height="0" style="position:absolute;">
		</svg></div>
	<main id='main_wrapper'>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4'>
					<div class='bg-grey_light border_radius5' style='margin-top:60px;margin-bottom:60px;'>
						<div class='text-center'>
							<h1 class='color_blue font-size40'>Log in</h1>
						</div>
						<div class='padding_left30 padding_right30 padding_top30 padding_bottom20'>
							<form method='post' action='/account/process_login' id='account_login_form' novalidate
								role='form'>
								//<EnterEmail.razor />
								<EnterPassword />
								<div class='form-group text-right color_blue'>
									<a href='/account/forgot_password'>
									Forgot Password
									</a>
								</div>
								<button type='submit' class='btn btn-green btn-lg width100'>
									Log in
								</button>
							</form>
							<form method='post' action='/account/process_login'>
								<input type="hidden" name="_token"
									value="ca94b1e85755415cf303e9a734df31d2:fecfdef18b6797654937cff972c8bdb6:1733284472" />
								<input type="text" id="_nothing_b41f5a09e9bd5c33" name="_nothing_b41f5a09e9bd5c33"
									value="" style="display: none;" autocomplete="off"
									aria-label="_nothing_b41f5a09e9bd5c33" />
								<input type="hidden" name="_snowman" value="☃" />
								<input type='hidden' name='login_action' value='login'>
								<div class='social_buttons'>
									<div class='clear clearfix'>
										<hr class='margin_vertical30'>
									</div>
								</div>
								<div class='row'>
									<div class='col-sm-12 text-center'>
										<SocialLogin.razor />
									</div>
								</div>
							</form>
						</div>
						<div class='padding_left30 padding_right30 padding_bottom30'>
							<div class='text-center'>New to Simple AI? Create <a href="/account/register" role='link'
									data-toggle='link'>a new account</a>.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


</body>

</html>