<div class='form-group'>
    <label class='sr-only' for='i_username'>Email address</label>
    <input type='email' name='username' class='form-control input-lg' id='i_username' value=''
        placeholder='Email address' autocomplete='username'>
</div>