<div class='form-group'>
    <label class='sr-only' for='i_current_password'>Password</label>
    <div class='password-toggle'>
        <input type="@InputType" name='password' @bind="Password" class='form-control input-lg' id='i_current_password'
            placeholder='Password' autocomplete='current-password'>
        <span class='input-group-btn'>
            <button type='button' class='btn btn-default input-lg toggle-password' aria-label='Show/Hide password' @onclick="ToggleVisibility">
                <svg viewBox='0 0 24 24' class='password-eye'>
                    <use xlink:href='#svg_password-hide'></use>
                </svg>
            </button>
        </span>
    </div>
</div>



@code {
    [Parameter]
    public string Password { get; set; }

    [Parameter]
    public EventCallback<string> PasswordChanged { get; set; }

    private bool IsPasswordVisible { get; set; }
    private string InputType => IsPasswordVisible ? "text" : "password";
    private string IconPath => IsPasswordVisible ? "#svg_password-show" : "#svg_password-hide";

    private async Task ToggleVisibility()
    {
        IsPasswordVisible = !IsPasswordVisible;
        await PasswordChanged.InvokeAsync(Password);
    }
}