@namespace SimpleRuleBlazor.Components.UserAuth

<ul class='social_login_list margin_left0'>
    <li class='d-flex justify-content-center'>
        <button type='submit' class='facebook social width80' value='facebook' name='login_type'>
            <svg viewBox='0 0 16 16' class='icon'>
                <use xlink:href='#svg_Social-Login-facebook' style='fill: #ffffff;'></use>
            </svg>
            Sign in with Facebook </button>
    </li>
    <li class='d-flex justify-content-center'>
        <button type='submit' class='social google width80 display_block' value='google' name='login_type'>
            <svg viewBox='0 0 16 16' class='icon'>
                <use xlink:href='#svg_Social-Login-google'></use>
            </svg>
            Sign in with Google </button>

    </li>
    <li class='d-flex justify-content-center'>
        <button type='submit' class='apple_login width80 social' value='apple' name='login_type'>
            <svg viewBox='0 0 16 16' class='icon'>
                <use xlink:href='#svg_Social-Login-apple' style="fill: #ffffff">
                </use>
            </svg>
            Sign in with Apple </button>
    </li>
</ul>