@inherits LayoutComponentBase

<link rel="icon" type="image/png" href="images/simple-ai-trinity.png">
<!-- Open Graph metadata -->
<meta property="og:image" content="images/simple-ai-trinity.png">
<meta property="og:type" content="website">
<meta property="og:title" content="Simple Rule AI – Your Personal Assistant by Text">
<meta property="og:description" content="Simple Rule AI connects the power of ChatGPT to SMS, offering answers, assistance, and automation at your fingertips. For just $1.99/month, text your questions or tasks—from recipe tips to secure money transfers—and get instant responses. Sign up today to explore and create your own bots to earn while helping others. Simplify your life with AI-powered texting.">

<ModalWrapperRegister/>
<ModalWrapperLogin/>

<NavBarMobile />
<NavBarDesktop />

<main id="main-content" tabindex="-1">
    @Body
</main>

<GlobalFooter/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; This site replicates the layout and CSS of an archived site from the <a
        href="https://web.archive.org/web/20210504080548/https://www.sketchy.com/"
        target="_blank">Web
        Archive</a>  as a personal coding practice project.
    <a class="dismiss">🗙</a>
</div>
